.body {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 100px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: Poppins, Ariel;
}
.shareer {
    padding-top: 50px;
}

.track {
    font-size: 50px;
    padding-bottom: 50px;
}
.designation {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.defimg {
    height: 230px;
    border-radius: 115px;
}

.self_stuff {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    padding-bottom: 50px;
    padding-right: 50px;
}
.self_desc {
    padding-left: 20px;
    padding-right: 20px;
}
.desi {
    padding-bottom: 15px;
    font-size: 15px;
    color: rgb(46, 46, 46);
}
.under_lead {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projectlist {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    padding-bottom: 35px;
}
.projectpic {
    padding-top: 50px;
    height: 300px;
    width: auto;
    padding-right: 50px;
}
.projecttitle {
    font-size: 35px;
    text-decoration: underline;
    padding-bottom: 20px;
}
.projectdesc {
    font-size: 15px;
    padding-bottom: 10px;
}
.projectcontact {
    color: rgb(63, 63, 63);
    font-size: 15px;
    padding-bottom: 10px;
}
.naam {
    font-size: 25px;
    font-weight: 500px;
    color: black;
}
.naam:link { text-decoration: none; }
.naam:visited { text-decoration: none; }
.naam:hover {text-decoration: none;}
.naam:active { text-decoration: none; }

.logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 20px;
    padding-left: 20px;
}
.logo {
    
    height: 25px;
    border-radius: 12.5px;
}
.logolink {
    padding-right: 10px;
    opacity: 0.5;
    transition: opacity 0.15s;
}
.logolink1 {
    opacity: 0.5;
    transition: opacity 0.15s;
}
.email {
    color: rgb(46, 46, 46);
    font-size: 15px;
    transition: 0.15s;
}
.emailfull {
    color: rgb(46, 46, 46);
    font-size: 15px;
    padding-top: 20px;
}
.logolink:link { text-decoration: none; }
.logolink:visited { text-decoration: none; }
.logolink:hover {text-decoration: none;opacity: 1;}
.logolink:active { text-decoration: none; }

.logolink1:link { text-decoration: none; }
.logolink1:visited { text-decoration: none; }
.logolink1:hover {text-decoration: none;opacity: 1;}
.logolink1:active { text-decoration: none; }

.email:link { text-decoration: none; }
.email:visited { text-decoration: none; }
.email:hover {text-decoration: none; color: black;}
.email:active { text-decoration: none; }