.header {
    background-color: #00589c;
    position: fixed;
    display: flex;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    font-size: 15px; 
    font-family: Poppins, Ariel;  
    font-weight: 500;
}

.heads {
    display: grid;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    color: white;
    transition: color 0.15s;
    cursor: pointer;
}
.heads:link { text-decoration: none; }
.heads:visited { text-decoration: none; }
.heads:hover {text-decoration: none; color: gray; }
.heads:active { text-decoration: none; }